.gitignore
*.tmp
*.pdf
*.docx
*.iml

Model/env/
Model/.ipynb_checkpoints/
Weekly Reports/
Resources/
Pre-Semester hijinks/

Insight Android App/gradle/.tmp
Insight Android App/gradle/caches
Insight Android App/gradle/daemon
Insight Android App/gradle/jdks
Insight Android App/gradle/native
Insight Android App/gradle/wrapper/dists
Insight Android App/.gradle
Insight Android App/.idea/caches
Insight Android App/.idea/libraries
Insight Android App/.idea/modules.xml
Insight Android App/.idea/navEditor.xml
Insight Android App/.idea/assetWizardSettings.xml
Insight Android App/.DS_Store
Insight Android App/build
Insight Android App/captures
Insight Android App/.externalNativeBuild
Insight Android App/.cxx
Insight Android App/local.properties